include *.*
recursive-include *.*

global-exclude *.pyc
global-exclude *.DS_Store
global-exclude *.egg-info

recursive-exclude . *.pyc, *.DS_Store, *.egg-info


graft zas_rep_tools/tests
graft zas_rep_tools/cli
graft zas_rep_tools/data
graft zas_rep_tools/src
#graft zas_rep_tools/tests

