include *.*
recursive-include *.*

global-exclude *.pyc
global-exclude *.DS_Store
global-exclude *.egg-info

recursive-exclude . *.pyc, *.DS_Store, *.egg-info


graft zas_rep_tools_data/tests
graft zas_rep_tools_data/cli
graft zas_rep_tools_data/data
graft zas_rep_tools_data/src
graft zas_rep_tools_data/tests

